<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include("./partials/head")%>
</head> <a href=""></a>

<body>
    <%- include("./partials/header")%>
        <h1 class="titleWelcomeUserProfile">Hello <%= userData.fullName %>
        </h1>

        <main class="userProfileContainer">
            <div class="imageProfileUser">
                <img src="../images/avatars/<%= userData.imageProfile %>" alt="">
            </div>
            <div class="alert alert-info userEmailContainer" role="alert">
                <%= userData.email %>
            </div>
        </main>
        <%- include("./partials/footer")%>
</body>

</html>